@forward 'global';

@mixin flexCenter($justify: center, $align: center, $direction: row){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin hoverStyle{

}

@keyframes bounce {
    0%{
        transform: scale(0);
        opacity: 0;
    }

    50%{
        transform: scale(1.2);
    }

    70%{
        transform: scale(0.9);
    }

    100%{
        transform: scale(1);
        opacity: 1;
    }    
}

@keyframes fadeIn {
    0%{
        opacity: 0;
        transform: translateY(10%);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }    
}

@keyframes spin {
    100%{
        transform: rotateY(360deg);
    }    
}

@keyframes drop {
    0%{
        opacity: 0;
    }
    
    50%{
        opacity: 1;
    }

    100%{
        opacity: 0;
        transform: translate(20%, 70%) rotate(30deg);
    }
}

@keyframes drop2 {
    0%{
        opacity: 0;
    }
    
    50%{
        opacity: 1;
    }

    100%{
        opacity: 0;
        transform: translate(-20%, 80%) rotate(-30deg); 
    }
}




*,html{
    scroll-behavior: smooth;
}

body{
    @include flexCenter;
    position: relative;
    max-width: 1920px;
    margin: auto;
    overflow-x: hidden;
    background-image: linear-gradient(90deg, #963f38, #ce4c4a, #ff665f, #ce4c4a, #963f38);

    @media (min-width: 1024px) {
        height: 500vh;
    }
}

header{
    width: 100%;
    background-color: #FFFFFF;
    position: fixed;
    z-index: 99;
    top: 0;
    filter: drop-shadow(0 3px 30px rgb(0, 0, 0));

    .navbar{
        @include flexCenter($direction: column);
        width: 100%;

        &__main{
            @include flexCenter($justify: space-between);
            width: 100%;
            padding: 0 1rem;

            &__logo{
                max-width: 10rem;
                min-height: 3rem;
                cursor: pointer;
                padding: 1rem;
                object-fit: contain;
            }

            &__items{
                @include flexCenter;

                &__item{
                    padding: 0.25rem 0.5rem;
                    margin: 0.5rem;
                    color: #FFFFFF;
                    border-radius: 0.25rem;

                    a{
                        font-size: 14px;
                        font-weight: 500;
                        color: #FFFFFF;
                    }
                }

                .fb-share{
                    background-color: #0866FF;

                    &:hover{
                        background-color: #3482ff;
                    }
                }

                .line-share{
                    background-color: #11c65d;
                    &:hover{
                        background-color: #2dca6e;
                    }
                }
            }
        }

        &__sub{
            width: 100%;
            @include flexCenter;
            margin: 0.5rem;
            

            @media (min-width: 1024px) {

            }

            &__item{
                @include flexCenter;
                padding: 0.5rem 1rem;
                margin: 0 0.5rem;
                position: relative;


                &:hover{
                    background-color: #dfe4ff;
                    transition: 0.4s;
                    border-radius: 0.25rem;
                }

            }
        }

        ul,li{
            list-style: none;
        }
    }

}

.snowflake{
    position: absolute;
    max-width: 100px;
    filter: drop-shadow(0 3px 5px #999999);

    &__1{
        top: 0;
        left: 20%;
        animation: drop 3s infinite ease-out;
    }

    &__2{
        top: 20%;
        right: 0;
        animation: drop2 3s infinite ease-out;
        animation-delay: 1s;
    }

    &__3{
        top: 30%;
        left: 0;
        animation: drop 3s infinite ease-out;
        animation-delay: 1.5s;
    }

    &__4{
        top: 40%;
        right: 10%;
        animation: drop 3s infinite ease-out;
        animation-delay: 2s;
    }

    &__5{
        top: 10%;
        right: 20%;
        animation: drop2 4s infinite ease-out;
        animation-delay: 2s;
    }

    &__6{
        top: 20%;
        left: 20%;
        animation: drop2 4s infinite ease-out;
        animation-delay: 2s;
    }

    &__7{
        top: 60%;
        right: 20%;
        animation: drop2 4s infinite ease-out;
        animation-delay: 2s;
    }

    &__8{
        top: 50%;
        left: 15%;
        animation: drop2 4s infinite ease-out;
        animation-delay: 2s;
    }

    &__9{
        bottom: 30%;
        left: 5%;
        animation: drop 3s infinite ease-out;
        animation-delay: 2s;
    }
}

.main{
    @include flexCenter($justify: flex-start, $direction: column);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(0deg, #963f38, #ce4c4a, #ff665f, #ce4c4a, #963f38);

    @media (min-width: 1024px) {
        background: none;
    }

}

.hero{
    @include flexCenter($direction: column);
    width: 100%;
    background: url('../img/hero_bg_sm.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 1rem;
    padding: 7rem 0;
    position: relative;

    @media (min-width: 640px) {
        background: url('../img/hero_bg_md.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    @media (min-width: 1024px) {
        @include flexCenter($direction: row);
        background: url('../img/christmasleaf.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
    }

    &__bg-leaf{
        width: 100%;
        background: none;
        position: absolute;

        @media (min-width: 1024px) {
            background: url(../img/hero_bg.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 100vh;
        }        
    }

    &__left{
        @include flexCenter;
        width: 100%;

        @media (min-width: 1024px) {
            width: 70%;
            height: 100%;                        
        }

        &__wrapper{
            @include flexCenter;
            position: relative;
            max-width: 600px;
            min-width: 150px;
            animation: bounce 0.8s ease-in-out;

            &__title{
                object-fit: contain;
                width: 100%;   

                @media (min-width: 1024px) {
                    margin-top: 4rem;                        
                }
            }
        }

    }


    .lightsweep{
        position: absolute;
        filter: brightness(1.5);
        mask-size: 300% 200%;
        mask-image: linear-gradient(-45deg, rgb(255, 255, 255, 0) 40%, rgb(255, 255, 255, 1) 50%, rgb(255, 255, 255, 0) 60%);
        transition: mask-position;
        transform: translate3d(0, 0, 0);
        transition-duration: 3s;
        animation: move 1.5s infinite ease-out;
    }

    @keyframes move {
        0%{
            mask-position: 150% 0px;
        }

        100%{
            mask-position: 0% 0px;
        }
    }

    &__right{
        @include flexCenter;
        width: 100%;
        margin: 1rem;

        @media (min-width: 1024px) {
            width: 30%;
            height: 100%;                        
        }

        &__wrapper{
            position: relative;
            max-width: 400px;
            min-width: 150px;
        }

        .swiper{
            @include flexCenter;
            width: 100%;
            height: 400px;
            animation: fadeIn 0.5s linear;
    
            .swiper-wrapper{
    
                .swiper-slide{
    
                    a{
                        width: 100%;
            
                        img{
                            object-fit: contain;
                            width: 100%;
                        }
                    }
                }
    
            }
    
            .swiper-pagination-bullet {
                width: 10px;
                height: 10px;
                text-align: center;
                opacity: 1;
                background: rgba(0, 0, 0, 0.2);
            }
    
            .swiper-pagination-bullet-active {
                background: #8fa0ff;
            }
        }
    }

}



.s2{
    @include flexCenter;
    width: 100%;
    background: url(../img/s2_bg_sm.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem 0 5rem 0;
    position: relative;

    @media (min-width: 1024px) {
        background: url(../img/light_bottom.png);
        background-size: contain;
        background-position: center;
        padding: 0;
    }

    &__bg-bottom{
        @include flexCenter($direction: column);
        width: 100%;
        background: none;

        @media (min-width: 1024px) {
            background: url(../img/s2_bg.png);
            background-position: bottom;
            background-size: contain;
            background-repeat: no-repeat;
            height: 100%;
        }        
    }

    &__title{
        @include flexCenter;
        max-width: 600px;
        min-width: 150px;

        img{
            width: 100%;
            object-fit: contain;
            filter: drop-shadow(0 7px 5px rgb(91, 27, 27));
        }
    }

    &__subtitle{
        @include flexCenter;
        max-width: 400px;
        min-width: 150px;

        img{
            width: 100%;
            object-fit: contain;
        }
    }
    
    &__cards{
        @include flexCenter($direction: column);

        @media (min-width: 1024px) {
            @include flexCenter($direction: row);
            margin: 0 6rem 2rem;           
        }

        &__top{
            @include flexCenter;
            width: 100%;

            @media (min-width: 1024px) {
                width: 50%;
            }
        }

        &__bottom{
            @include flexCenter;
            width: 100%;

            @media (min-width: 1024px) {
                width: 50%;
            }
        }

        &__img{
            max-width: 300px;
            min-width: 150px;

            img{
                width: 100%;
                object-fit: contain;
            }
        }
    }
}


.s3{
    @include flexCenter;
    width: 100%;
    background: none;
    padding-bottom: 5rem;
    position: relative;
    

    @media (min-width: 1024px) {
        background: url(../img/s3_bg.png);
        background-repeat: no-repeat;
        background-position: top;
        background-size: contain;
        padding: 5rem 0;
    }

    &__bg-top{
        @include flexCenter($direction: column);
        width: 100%;
        background: url(../img/s2_bg_sm.png);
        background-position: right;
        background-size: cover;
        background-repeat: no-repeat;

        @media (min-width: 1024px) {
            background: url(../img/light_bottom.png);
            background-position: center;
            height: 100%;
        }
    }

    &__title{
        @include flexCenter;
        max-width: 600px;
        min-width: 150px;

        img{
            width: 100%;
            object-fit: contain;
        }
    }

    &__products{
        position: relative;

        &__product{
            @include flexCenter($direction: column);
            margin: 2rem 0;

            &__wrapper{
                @include flexCenter($direction: column-reverse);
                padding: 0 1rem;
                margin: 1rem;
                background-image: linear-gradient(90deg, #cebda0, #ffffff ,#cebda0);
                border: solid 15px;
                border-image: linear-gradient(90deg, #547853, #709d72, #314b35, #709d72, #547853) 30;
    
                @media (min-width: 1024px) {
                    @include flexCenter; 
                    padding: 0;             
                }

                &__left{
                    @include flexCenter($direction: column);
                    transform: translate(0, -10%);                
    
                    @media (min-width: 1024px) {
                        transform: translate(10%, -10%);                    
                    }
    
    
                    &__title{
                        @include flexCenter;
                        max-width: 320px;
                        min-width: 150px;
                        transform: translate(0,-20%);
                
                        img{
                            width: 100%;
                            object-fit: contain;
                        }
    
                        @media (min-width: 1024px) {
                            transform: translate(-20%,-30%);
                        }
                    }
    
                    &__content{
                        @include flexCenter($align: flex-start ,$direction: column);

                        @media (min-width: 480px) {
                            min-width: 450px;                            
                        }
    
    
                        &__feature{
                            @include flexCenter($align: flex-start);
                            color: #7b6856;
                            margin: 0.5rem 0;
    
                            i{
                                margin-right: 0.5rem;
                                font-size: 1.25rem;
                            }
    
                            p{
                                font-size: 1.25rem;
                            }
                        }
                    }
                }
    
                &__right{
                    @include flexCenter;
                    max-width: 300px;
                    min-width: 150px;
    
                    img{
                        object-fit: contain;
                        width: 100%;
                        transform: translateY(-20%);  
    
                        @media (min-width: 1024px) {
                            transform: translateX(20%);                        
                        }
                    }
                }

            }
            

            &__cta{
                @include flexCenter;
        
                max-width: 250px;
                min-width: 150px;
        
                img{
                    object-fit: contain;
                    width: 100%;
                }
            }
            
        }
    }


    
}


.s4{
    @include flexCenter($direction: column);
    width: 100%;
    background: url(../img/s4_bg.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
    

    @media (min-width: 1024px) {
        height: 200vh;
        
    }

    &__title{
        @include flexCenter;
        max-width: 500px;
        min-width: 150px;

        img{
            width: 100%;
            object-fit: contain;
        }
    }

    &__member{
        width: 100%;
        @include flexCenter($direction: column);

        @media (min-width: 1024px) {
            height: 100vh;
            
        }

        &__title{
            @include flexCenter;
            max-width: 600px;
            min-width: 150px;
    
            img{
                width: 100%;
                object-fit: contain;
            }            
        }

        &__coupons{
            width: 100%;
            @include flexCenter($direction: column);
            position: relative;

            @media (min-width: 768px) {
                @include flexCenter($direction: row);                
            }

            &__coupon{
                @include flexCenter;
                max-width: 400px;
                min-width: 150px;

                img{
                    width: 100%;
                    object-fit: contain;
                }
            }
        }

        &__cta{
            @include flexCenter;
            max-width: 400px;
            min-width: 150px;
    
            img{
                width: 100%;
                object-fit: contain;
            }            
        }
    }

    &__gift{
        width: 100%;
        @include flexCenter($direction: column);

        @media (min-width: 1024px) {
            height: 100vh;
            
        }

        &__title{
            @include flexCenter;
            max-width: 600px;
            min-width: 150px;

            img{
                width: 100%;
                object-fit: contain;
            }
        }

        &__gifts{
            @include flexCenter($direction: column);
            width: 100%;

            @media (min-width: 1024px) {
                @include flexCenter($direction: row);                
            }

            &__top{
                @include flexCenter;
                width: 100%;

                @media (min-width: 1024px) {
                    @include flexCenter($justify: flex-end);                
                }
            }

            &__bottom{
                @include flexCenter;
                width: 100%;

                @media (min-width: 1024px) {
                    @include flexCenter($justify: flex-start);                
                }
            }

            &__item{
                @include flexCenter;
                max-width: 300px;
                min-width: 150px;

                img{
                    width: 100%;
                    object-fit: contain;
                }
            }
        }

        &__cta{
            @include flexCenter;
            max-width: 400px;
            min-width: 150px;

            img{
                width: 100%;
                object-fit: contain;
            }
        }
    }

}



footer{
    @include flexCenter;
    width: 100%;
    height: 10vh;
    background: #8fa0ff;

    p{
        color: #FFFFFF;
    }
}