* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: var(--font-family);
}

:root {
  --font-family: "Noto Sans TC", sans-serif;
}

h1 {
  font-size: 3rem;
  line-height: 1.25;
  font-weight: 500;
}
@media (min-width: 1024px) {
  h1 {
    font-size: 3.75rem;
  }
}

h2 {
  font-size: 2.5rem;
  line-height: 1.25;
  font-weight: 500;
}
@media (min-width: 1024px) {
  h2 {
    font-size: 3rem;
  }
}

h3 {
  font-size: 2rem;
  line-height: 1.25;
  font-weight: 500;
}
@media (min-width: 1024px) {
  h3 {
    font-size: 2.5rem;
  }
}

h4 {
  font-size: 1.5rem;
  line-height: 1.25;
  font-weight: 500;
}
@media (min-width: 1024px) {
  h4 {
    font-size: 2rem;
  }
}

h5 {
  font-size: 1.25rem;
  line-height: 1.25;
  font-weight: 500;
}
@media (min-width: 1024px) {
  h5 {
    font-size: 1.5rem;
  }
}

h6 {
  font-size: 1rem;
  line-height: 1.25;
  font-weight: 500;
}
@media (min-width: 1024px) {
  h6 {
    font-size: 1.25rem;
  }
}

p {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}

span {
  font-size: 0.75rem;
  line-height: 1.25;
  font-weight: 400;
}

a, a:visited, a:active {
  text-decoration: none;
  color: var(--text-color);
}

:root {
  --text-color: #231B33;
  --title-color: #ffffff;
}

*, html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  max-width: 1920px;
  margin: auto;
  overflow-x: hidden;
  background-image: linear-gradient(0deg, #963f38, #ce4c4a, #ff665f, #ce4c4a, #963f38);
}
@media (min-width: 1024px) {
  body {
    height: 500vh;
  }
}

header {
  width: 100%;
  background-color: #FFFFFF;
  position: fixed;
  z-index: 99;
  top: 0;
  filter: drop-shadow(0 7px 10px rgb(49, 75, 53));
}
header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
header .navbar__logo {
  margin: 0 1rem;
  max-height: 3.5rem;
  min-height: 3rem;
  cursor: pointer;
}
header .navbar__items {
  display: none;
  margin: 1rem;
}
@media (min-width: 1024px) {
  header .navbar__items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}
header .navbar__items__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0 0.5rem;
  padding: 1rem;
}
header .navbar__mobile {
  display: block;
}
@media (min-width: 1024px) {
  header .navbar__mobile {
    display: none;
  }
}
header .navbar__mobile__icon {
  font-size: 24px;
  padding: 0.5rem 1rem;
}
header .navbar ul, header .navbar li {
  list-style: none;
}

.light {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.light__section {
  width: 100%;
  background: none;
}
@media (min-width: 1024px) {
  .light__section {
    background: url(../img/lights.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
}

.main {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: url("../img/hero_bg_sm.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 1rem;
}
@media (min-width: 1024px) {
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: url("../img/hero_bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100vh;
  }
}
.hero__left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 1024px) {
  .hero__left {
    width: 50%;
    height: 100%;
  }
}
.hero__left__top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-width: 400px;
  min-width: 150px;
}
.hero__left__top img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  margin-top: 72px;
}
.hero__left__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.hero__left__bottom__img {
  max-width: 200px;
  min-width: 150px;
}
.hero__left__bottom__img img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}
.hero__right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
@media (min-width: 1024px) {
  .hero__right {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: row;
    width: 50%;
    height: 100%;
  }
}
.hero__right__img {
  max-width: 900px;
  min-width: 300px;
}
.hero__right__img img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}
@media (min-width: 1024px) {
  .hero__right__img img {
    margin-bottom: 6rem;
  }
}

.s2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: url(../img/s2_bg_sm.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 1024px) {
  .s2 {
    background: url(../img/s2_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
  }
}
.s2__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.s2__title img {
  max-width: 320px;
  min-width: 150px;
}
.s2__subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.s2__subtitle img {
  max-width: 320px;
  min-width: 150px;
}
.s2__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .s2__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}
.s2__cards__top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
@media (min-width: 1024px) {
  .s2__cards__top {
    width: 50%;
  }
}
.s2__cards__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
@media (min-width: 1024px) {
  .s2__cards__bottom {
    width: 50%;
  }
}
.s2__cards__img {
  max-width: 300px;
  min-width: 150px;
}
.s2__cards__img img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.s3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 1024px) {
  .s3 {
    height: 100vh;
  }
}

.s4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: url(../img/s4_bg.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
@media (min-width: 1024px) {
  .s4 {
    height: 200vh;
  }
}
.s4__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-width: 400px;
  min-width: 150px;
}
.s4__title img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.s4__member {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .s4__member {
    height: 100vh;
  }
}
.s4__member__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-width: 500px;
  min-width: 150px;
}
.s4__member__title img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.s4__member__coupons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 768px) {
  .s4__member__coupons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}
.s4__member__coupons__coupon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-width: 400px;
  min-width: 150px;
}
.s4__member__coupons__coupon img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.s4__member__cta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-width: 400px;
  min-width: 150px;
}
.s4__member__cta img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.s4__gift {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .s4__gift {
    height: 100vh;
  }
}
.s4__gift__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-width: 500px;
  min-width: 150px;
}
.s4__gift__title img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.s4__gift__gifts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 1024px) {
  .s4__gift__gifts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}
.s4__gift__gifts__top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
@media (min-width: 1024px) {
  .s4__gift__gifts__top {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
  }
}
.s4__gift__gifts__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
@media (min-width: 1024px) {
  .s4__gift__gifts__bottom {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
  }
}
.s4__gift__gifts__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-width: 300px;
  min-width: 150px;
}
.s4__gift__gifts__item img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.s4__gift__cta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-width: 400px;
  min-width: 150px;
}
.s4__gift__cta img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 10vh;
  background: #8fa0ff;
}
footer p {
  color: #FFFFFF;
}/*# sourceMappingURL=style.css.map */