@forward 'global';

@mixin flexCenter($justify: center, $align: center, $direction: row){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}


*,html{
    scroll-behavior: smooth;
}

body{
    @include flexCenter($justify: start, $direction: column);
    max-width: 1920px;
    margin: auto;
    overflow-x: hidden;
    background-image: linear-gradient(0deg, #CACACA, #F7FFF3, #FFFFFF, #FCFCFC, #CACACA)
}

header{
    width: 100%;
    background-color: #FFFFFF;
    position: fixed;
    z-index: 99;
    top: 0;
    filter: drop-shadow(0 7px 10px rgb(49, 75, 53));

    .navbar{
        @include flexCenter($justify: space-between);
        width: 100%;

        &__logo{
            margin: 0 1rem;
            max-height: 3.5rem;
            min-height: 3rem;
            cursor: pointer;
        }

        &__items{
            display: none;
            margin: 1rem;
            

            @media (min-width: 1024px) {
                @include flexCenter;
            }

            &__item{
                @include flexCenter;
                margin: 0 0.5rem;
                padding: 1rem;
            }
        }

        &__mobile{
            display: block;            

            @media (min-width: 1024px) {
                display: none;                
            }

            &__icon{
                font-size: 24px;
                padding: 0.5rem 1rem;
            }
        }

        ul,li{
            list-style: none;
        }
    }

}

.hero{
    @include flexCenter($direction: column);
    width: 100%;
    background: url('../img/hero_bg_sm.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 1rem;

    @media (min-width: 1024px) {
        @include flexCenter($direction: row);
        background: url('../img/hero_bg.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 100vh;
    }

    &__left{
        @include flexCenter($direction: column);
        width: 100%;

        @media (min-width: 1024px) {
            width: 50%;
            height: 100%;                        
        }

        &__top{
            @include flexCenter;
            max-width: 400px;
            min-width: 150px;

            img{
                object-fit: contain;
                width: 100%;
                margin-top: 72px;

            }
        }

        &__bottom{
            @include flexCenter;
            width: 100%;

            &__img{
                max-width: 200px;
                min-width: 150px;
    
                img{
                    object-fit: contain;
                    width: 100%;
    
                }
            }
        }
    }

    &__right{
        @include flexCenter;
        width: 100%;

        @media (min-width: 1024px) {
            width: 50%;
            height: 100%;                        
        }

        &__img{
            max-width: 900px;
            min-width: 300px;

            img{
                object-fit: contain;
                width: 100%;

            }
        }

    }
}

.s2{
    @include flexCenter($direction: column);
    width: 100%;
    background: url(../img/s2_bg_sm.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: 1024px) {
        background: url(../img/s2_bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 100vh;
    }

    &__title{
        @include flexCenter;
        width: 100%;

        img{
            max-width: 320px;
            min-width: 150px;
        }
    }

    &__subtitle{
        @include flexCenter;
        width: 100%;

        img{
            max-width: 320px;
            min-width: 150px;
        }
    }
    
    &__cards{
        @include flexCenter($direction: column);

        @media (min-width: 1024px) {
            @include flexCenter($direction: row);           
        }

        &__top{
            @include flexCenter;
            width: 100%;

            @media (min-width: 1024px) {
                width: 50%;
            }
        }

        &__bottom{
            @include flexCenter;
            width: 100%;

            @media (min-width: 1024px) {
                width: 50%;
            }
        }

        &__img{
            max-width: 300px;
            min-width: 150px;

            img{
                width: 100%;
                object-fit: contain;
            }
        }
    }
}