@forward 'global';

@mixin flexCenter($justify: center, $align: center, $direction: row){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}


*,html{
    scroll-behavior: smooth;
}

body{
    @include flexCenter;
    position: relative;
    max-width: 1920px;
    margin: auto;
    overflow-x: hidden;
    background-image: linear-gradient(0deg, #963f38, #ce4c4a, #ff665f, #ce4c4a, #963f38);

    @media (min-width: 1024px) {
        height: 500vh;
    }
}

header{
    width: 100%;
    background-color: #FFFFFF;
    position: fixed;
    z-index: 99;
    top: 0;
    filter: drop-shadow(0 7px 10px rgb(49, 75, 53));

    .navbar{
        @include flexCenter($justify: space-between);
        width: 100%;

        &__logo{
            margin: 0 1rem;
            max-height: 3.5rem;
            min-height: 3rem;
            cursor: pointer;
        }

        &__items{
            display: none;
            margin: 1rem;
            

            @media (min-width: 1024px) {
                @include flexCenter;
            }

            &__item{
                @include flexCenter;
                margin: 0 0.5rem;
                padding: 1rem;
            }
        }

        &__mobile{
            display: block;            

            @media (min-width: 1024px) {
                display: none;                
            }

            &__icon{
                font-size: 24px;
                padding: 0.5rem 1rem;
            }
        }

        ul,li{
            list-style: none;
        }
    }

}

.light{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    &__section{
        width: 100%;
        background: none;

        @media (min-width: 1024px) {
            background: url(../img/lights.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 100vh;
        }
    }

    &__section-none{
        width: 100%;
        background: none;

        @media (min-width: 1024px) {
            height: 100vh;
        }
    }

}

.main{
    @include flexCenter($justify: flex-start, $direction: column);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(0deg, #963f38, #ce4c4a, #ff665f, #ce4c4a, #963f38);

    @media (min-width: 1024px) {
        background: none;
    }

}

.hero{
    @include flexCenter($direction: column);
    width: 100%;
    background: url('../img/hero_bg_sm.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 1rem;

    @media (min-width: 640px) {
        background: url('../img/hero_bg_md.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    @media (min-width: 1024px) {
        @include flexCenter($direction: row);
        background: url('../img/hero_bg.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 100vh;
    }

    &__left{
        @include flexCenter($direction: column);
        width: 100%;

        @media (min-width: 1024px) {
            width: 50%;
            height: 100%;                        
        }

        &__top{
            @include flexCenter;
            max-width: 400px;
            min-width: 150px;

            img{
                object-fit: contain;
                width: 100%;
                margin-top: 72px;

            }
        }

        &__bottom{
            @include flexCenter;
            width: 100%;

            &__img{
                max-width: 200px;
                min-width: 150px;
    
                img{
                    object-fit: contain;
                    width: 100%;
    
                }
            }
        }
    }

    &__right{
        @include flexCenter;
        width: 100%;
        height: 300px;

        @media (min-width: 1024px) {
            @include flexCenter($align: flex-end);
            width: 50%;
            height: 100%;                        
        }

        &__img{
            max-width: 900px;
            min-width: 300px;
            display: none;
            

            @media (min-width: 640px) {
                display: block;   
                margin-bottom: 6rem;       
            }

            img{
                object-fit: contain;
                width: 100%;
                
            }
        }

    }
}

.s2{
    @include flexCenter($direction: column);
    width: 100%;
    background: url(../img/s2_bg_sm.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: 1024px) {
        background: url(../img/s2_bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 100vh;
    }

    &__title{
        @include flexCenter;
        max-width: 320px;
        min-width: 150px;

        img{
            width: 100%;
            object-fit: contain;
            filter: drop-shadow(0 7px 5px rgb(91, 27, 27));
        }
    }

    &__subtitle{
        @include flexCenter;
        max-width: 400px;
        min-width: 150px;

        img{
            width: 100%;
            object-fit: contain;
        }
    }
    
    &__cards{
        @include flexCenter($direction: column);

        @media (min-width: 1024px) {
            @include flexCenter($direction: row);
            margin: 0 6rem 2rem;           
        }

        &__top{
            @include flexCenter;
            width: 100%;

            @media (min-width: 1024px) {
                width: 50%;
            }
        }

        &__bottom{
            @include flexCenter;
            width: 100%;

            @media (min-width: 1024px) {
                width: 50%;
            }
        }

        &__img{
            max-width: 300px;
            min-width: 150px;

            img{
                width: 100%;
                object-fit: contain;
            }
        }
    }
}


.s3{
    @include flexCenter($direction: column);
    width: 100%;
    

    @media (min-width: 1024px) {
        height: 200vh;
    }

    &__title{
        @include flexCenter;
        max-width: 320px;
        min-width: 150px;

        img{
            width: 100%;
            object-fit: contain;
        }
    }

    &__products{
        position: relative;

        &__product{
            @include flexCenter($direction: column);
            margin: 2rem 0;

            &__wrapper{
                @include flexCenter($direction: column-reverse);
                padding: 0 1rem;
                margin: 1rem;
                background-image: linear-gradient(90deg, #cebda0, #ffffff ,#cebda0);
                border: solid 15px;
                border-image: linear-gradient(90deg, #547853, #709d72, #314b35, #709d72, #547853) 30;
    
                @media (min-width: 1024px) {
                    @include flexCenter; 
                    padding: 0;             
                }

                &__left{
                    @include flexCenter($direction: column);
                    transform: translate(0, -10%);                
    
                    @media (min-width: 1024px) {
                        transform: translate(10%, -10%);                    
                    }
    
    
                    &__title{
                        @include flexCenter;
                        max-width: 320px;
                        min-width: 150px;
                        transform: translate(0,-20%);
                
                        img{
                            width: 100%;
                            object-fit: contain;
                        }
    
                        @media (min-width: 1024px) {
                            transform: translate(-20%,-30%);
                        }
                    }
    
                    &__content{
                        @include flexCenter($align: flex-start ,$direction: column);

                        @media (min-width: 480px) {
                            min-width: 450px;                            
                        }
    
    
                        &__feature{
                            @include flexCenter($align: flex-start);
                            color: #7b6856;
                            margin: 0.5rem 0;
    
                            i{
                                margin-right: 0.5rem;
                                font-size: 1.25rem;
                            }
    
                            p{
                                font-size: 1.25rem;
                            }
                        }
                    }
                }
    
                &__right{
                    @include flexCenter;
                    max-width: 300px;
                    min-width: 150px;
    
                    img{
                        object-fit: contain;
                        width: 100%;
                        transform: translateY(-20%);  
    
                        @media (min-width: 1024px) {
                            transform: translateX(20%);                        
                        }
                    }
                }

            }
            

            &__cta{
                @include flexCenter;
        
                max-width: 250px;
                min-width: 150px;
        
                img{
                    object-fit: contain;
                    width: 100%;
                }
            }
            
        }
    }


    
}


.s4{
    @include flexCenter($direction: column);
    width: 100%;
    background: url(../img/s4_bg.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

    @media (min-width: 1024px) {
        height: 200vh;
        
    }

    &__title{
        @include flexCenter;
        max-width: 400px;
        min-width: 150px;

        img{
            width: 100%;
            object-fit: contain;
        }
    }

    &__member{
        width: 100%;
        @include flexCenter($direction: column);

        @media (min-width: 1024px) {
            height: 100vh;
            
        }

        &__title{
            @include flexCenter;
            max-width: 500px;
            min-width: 150px;
    
            img{
                width: 100%;
                object-fit: contain;
            }            
        }

        &__coupons{
            width: 100%;
            @include flexCenter($direction: column);

            @media (min-width: 768px) {
                @include flexCenter($direction: row);                
            }

            &__coupon{
                @include flexCenter;
                max-width: 400px;
                min-width: 150px;

                img{
                    width: 100%;
                    object-fit: contain;
                }
            }
        }

        &__cta{
            @include flexCenter;
            max-width: 400px;
            min-width: 150px;
    
            img{
                width: 100%;
                object-fit: contain;
            }            
        }
    }

    &__gift{
        width: 100%;
        @include flexCenter($direction: column);

        @media (min-width: 1024px) {
            height: 100vh;
            
        }

        &__title{
            @include flexCenter;
            max-width: 500px;
            min-width: 150px;

            img{
                width: 100%;
                object-fit: contain;
            }
        }

        &__gifts{
            @include flexCenter($direction: column);
            width: 100%;

            @media (min-width: 1024px) {
                @include flexCenter($direction: row);                
            }

            &__top{
                @include flexCenter;
                width: 100%;

                @media (min-width: 1024px) {
                    @include flexCenter($justify: flex-end);                
                }
            }

            &__bottom{
                @include flexCenter;
                width: 100%;

                @media (min-width: 1024px) {
                    @include flexCenter($justify: flex-start);                
                }
            }

            &__item{
                @include flexCenter;
                max-width: 300px;
                min-width: 150px;

                img{
                    width: 100%;
                    object-fit: contain;
                }
            }
        }

        &__cta{
            @include flexCenter;
            max-width: 400px;
            min-width: 150px;

            img{
                width: 100%;
                object-fit: contain;
            }
        }
    }
}

footer{
    @include flexCenter;
    width: 100%;
    height: 10vh;
    background: #8fa0ff;

    p{
        color: #FFFFFF;
    }
}